<div id="<%= dom_id article %>">
  <h3 class="font-30">
    <strong><%= article.title %></strong>
  </h3>

  <p>Por <%= article.user %></p>

  <p class="font-25">
    <%= article.description %>
  </p>
</div>
