<div class="row">
  <div class="col-lg-6">
    <h1 class="mb-5">Nuevo articulo</h1>
    <%= render "form", article: @article %>
    <%= link_to "Volver", articles_path, class: "btn btn-outline-primary" %>
  </div>
</div>
